.about{
    width:100%;
    color:white;
}
.abt{
    padding-top: 50px;
}
.para p{
    width:700px;
    margin-top: 50px;
    text-align: center;
}
.exp h1{
    font-size: 60px!important;
    color:#f7d046;
}
.exp p{
    color: #646464;
    font-weight: 600;
}
.boxes{
    display:flex;
    justify-content: center;
    align-items: center;
}
.boxes2{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width:250px;
    height:250px;
    color : black;
    background-color: #a78bff;
    margin-left: 60px;
    text-align: center;
}
.box2{
    width:250px;
    height:250px;
    color : black;
    background-color:#59f9be;
    margin-left: 60px;
    text-align: center;
}
.box3{
    width:250px;
    height:250px;
    color : black;
    background-color:#d35ef7;
    margin-left: 60px;
    text-align: center;
} 
.box4{
    width:250px;
    height:250px;
    color : black;
    background-color:#5e94f7;
    margin-left: 60px;
    text-align: center;
} 
.box5{
    width:250px;
    height:250px;
    color : black;
    background-color:#ed7a50;
    margin-left: 60px;
    text-align: center;
} 
.box1,.box2,.box3,.box4,.box5 p{
    font-size: small;
    font-weight: 500;
}
.icon{
    font-size:50px ;
}
.abr{
    display: none;
}

@media screen and (max-width:1254px){
   .about {
        margin-top: 100px;
    }
}


@media screen and (max-width:786px) {
    .abr{
        display:block;
    }

    .about {
        margin-top:0px;
    }


    .para p{
        width:auto;
        text-align: center;
    }
    .exp h1{
        font-size: 40px!important;
    }
    .boxes{

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .boxes2{
        margin-top: 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .box1,.box2,.box3,.box4,.box5{
 
        margin-left: 0;
   
    }

    
}