.card{
    margin-top: 100px;
    display: block;
    justify-content: center;
    margin-left: 45px;

    
}
li{
    width:auto
}
.cards{
    width: 330px;
}

@media screen and (max-width:768px) {
    .card{
        margin-left:8px;
    }    
}
